:root {
  --widget_padding_vert: 0.22rem;
  --widget_padding_hor: 0.33rem;
  --item_margin: 0.55rem;
  --item_margin_2: 0.77rem;
  --icon_margin: 0.55rem;
}

@font-face {
	font-family: gh_sans;
	src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: gh_serif;
	src: url(fonts/RobotoSerif-Regular.ttf);
}

@font-face {
	font-family: gh_mono;
	src: url(fonts/RobotoMono-Regular.ttf);
}
@font-face {
	font-family: gh_comic;
	src: url(fonts/ComicNeue-Regular.ttf);
}

@font-face {
	font-family: gh_cursive;
	src: url(fonts/Pacifico-Regular.ttf);
}

@font-face {
	font-family: gh_funone;
	src: url(fonts/NerkoOne-Regular.ttf);
}

@font-face {
	font-family: gh_cyber;
	src: url(fonts/ZenDots-Regular.ttf);
}

@font-face {
	font-family: gh_neat;
	src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: gh_cool;
	src: url(fonts/Lobster-Regular.ttf);
}

@font-face {
	font-family: gh_alien;
	src: url(fonts/Guest.ttf);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

body, html {
  font-family: var(--font), sans-serif;
  font-size: var(--font_size);
  color: var(--text_color);
  width: var(--width);
  height: var(--height);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background_color);
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  background: var(--background_image);
  background-color: var(--background_color);
}

.window_main {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: var(--main_background);
  z-index: 999;
  width: 100vw;
  height: 100vh;
}

.window_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--alt_color_3) var(--alt_color_1);
  padding-top: 1px;
}

.window_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 1rem;
  flex-shrink: 0;
  padding-top: 0.55rem;
  padding-bottom: 0.707rem;
}

.window_top_center {
  justify-content: center;
}

.window_top_left {
  justify-content: start;
}

.window_x {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 0.44rem;
  padding-bottom: 0.66rem;
  padding-left: 1rem;
  padding-right: 0.88rem;
  font-size: 1.2rem;
  font-family: gh_sans, sans-serif;
}

.container {
  margin-bottom: var(--item_margin);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.text {
  font-size: 1rem;
  background-color: transparent;
  color: var(--text_color);
  outline: 1px solid var(--alt_color_2);
  border-width: 0;
  padding-left: var(--widget_padding_hor);
  padding-right: var(--widget_padding_hor);
  padding-top: var(--widget_padding_vert);
  padding-bottom: var(--widget_padding_vert);
}

.filter {
  flex-grow: 1;
  flex-shrink: 1;
  outline: none;
  width: 0;
}

.button {
  font-size: 1rem;
  cursor: pointer;
  flex-shrink: 0;
  background-color: var(--alt_color_1);
  color: var(--text_color);
  border-width: 0;
  text-align: center;
  padding-top: var(--widget_padding_vert);
  padding-bottom: var(--widget_padding_vert);
  padding-left: var(--widget_padding_hor);
  padding-right: var(--widget_padding_hor);
  user-select: none;
  outline: 1px solid var(--alt_color_2);
}

.button:hover {
  background-color: var(--alt_color_2);
}

.button:active {
  outline: 1px solid var(--alt_color_3);
}

.button_2 {
  background-color: transparent;
}

.button_2:hover {
  background-color: transparent;
  outline: 1px solid var(--alt_color_3);
}

.button:active {
  background-color: var(--alt_color_1);
}

.icon_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
}

.icon_1 {
  width: 1rem;
  height: 1rem !important;
}

svg {
  flex-shrink: 0;
}

.hovered {
  outline: 1px solid var(--alt_color_3);
}

.item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  min-height: 2.1rem;
}

.item_icon {
  width: 1.11rem;
  height: 1.11rem;
  object-fit: contain;
  margin-left: var(--item_margin);
  margin-right: var(--item_margin_2);
  flex-grow: 0;
  flex-shrink: 0;
}

.item_status {
  display: flex;
  flex-direction: row;
  gap: var(--icon_margin);
  margin-right: var(--icon_margin);
  flex-shrink: 0;
}

.item_text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: var(--item_margin);
  flex-shrink: 1;
}

.item_info {
  display: flex;
  flex-direction: row;
  padding-right: var(--item_margin);
  padding-left: 1.1rem;
  gap: 0.5rem;
  align-self: stretch;
  justify-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.item_top_container {
  margin-left: var(--item_margin);
  margin-right: var(--item_margin);
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.66rem;
}

.item_top_left {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.66rem;
  margin-right: auto;
  justify-content: flex-start;
  flex: 0 1 50%;
}

.item_top_right {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.66rem;
  justify-content: flex-end;
  flex: 0 1 50%;
}

.item:hover {
  text-decoration: underline;
}

.highlighted {
  background-color: var(--alt_color_1) !important;
}

.highlighted .item_icon {
  animation: rotate 1s linear infinite;
}

.selected {
  background-color: var(--alt_color_1);
}

.hidden {
  display: none !important;
}

.action {
  cursor: pointer;
  transition: text-shadow 171ms;
}

.action:hover {
  text-shadow: 0 0 1rem currentColor;
}

.unselectable {
  user-select: none;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  height: 2.5rem;
  border-top: 1px solid var(--alt_color_2);
  margin-left: var(--item_margin);
  margin-right: var(--item_margin);
  gap: 0.5rem;
}

.footer div {
  flex-shrink: 0;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex_row_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.settings_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.settings_button {
  min-width: 10rem;
}

.settings_text {
  flex-grow: 0;
  width: 6rem;
  text-align: center;
}

.settings_title {
  min-width: 12rem;
  text-align: center;
}

.settings_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.settings_menu {
  min-width: 6rem;
}

.settings_checkbox {
  width: 1.07rem;
  height: 1.07rem;
}

.gap_1 {
  gap: 0.5rem;
}

.gap_2 {
  gap: 1rem;
}

.gap_3 {
  gap: 1.5rem;
}

.gap_4 {
  gap: 2rem;
}

.bigger {
  font-size: 1.2rem;
}

#settings_item_order {
  border: 1px solid var(--alt_color_2);
  display: table;
  border-spacing: 0.8rem;
}

.item_order_row {
  display: table-row;
}

.item_order_item_text {
  display: table-cell;
  text-align: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.item_order_button {
  min-width: 4rem;
  display: table-cell;
}

#needcontext-main {
  background-color: var(--alt_background) !important;
}

#needcontext-container {
  background-color: var(--background_color) !important;
  color: var(--text_color) !important;
  border-color: var(--alt_color_3) !important;
  font-size: var(--font_size) !important;
  font-family: var(--font), sans-serif !important;
}

.needcontext-item-selected {
  background-color: var(--alt_color_1) !important;
}

.needcontext-item-selected:active {
  background-color: var(--alt_color_2) !important;
}

#about_container {
  padding-bottom: 3rem;
}

#about_info {
  text-align: center;
  padding: 0.5rem;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#about_image {
  padding-top: 2rem;
  width: 51%;
}

#about_info_full {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

a:visited, a:link, a:hover {
	color: var(--text_color);
}

.invert {
  filter: invert(100%);
}

.hue_rotate {
  filter: hue-rotate(90deg);
}

.transparent {
  opacity: 0;
}

.transparent:hover {
  opacity: 0.5;
}

.popup_container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--background_color);
  border: 2px solid var(--alt_color_1);
  color: var(--text_color);
}

.popup_main {
  display: none;
  z-index: 9999;
  background-color: var(--alt_background);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.pre {
  white-space: pre;
}

.textarea {
  background-color: var(--alt_color_1);
  color: var(--text_color);
  font-size: 1rem;
  outline: none;
  border: none;
  width: 60vw;
  height: 40vh;
  resize: none;
}

input {
  font-family: var(--font), sans-serif;
}

input::placeholder {
  color: var(--text_color);
  opacity: 0.77;
  font-size: 1rem;
}

.full_width {
  width: 100%;
}

.disabled {
  opacity: 0.63;
  pointer-events: none;
}

#window_content_image {
  max-height: 100vh;
}

.media_url {
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  text-align: center;
}

.media_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.media_loading {
  font-size: 1.1rem;
}

.media {
  position: relative;
  width: 95%;
  max-height: 100%;
  object-fit: contain;
}

.separator {
  border: 1px solid var(--alt_color_1);
  width: 14rem;
}