:root {
	--icon_size: 1.2rem;
}

@font-face {
	font-family: imported_font;
	src: url(Roboto-Regular.ttf);
}

body, html {
  font-family: imported_font;
  font-size: 17px;
  color: white;
  width: 700px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #252933;
}

#info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 0.6rem;
  flex-grow: 0;
}

.info_button {
  text-decoration: underline;
}

#top_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

#filter {
  background-color: #99A7D6;
  border-width: 0;
  font-size: 1rem;
  padding: 0.11rem;
  color: black;
  flex-grow: 0;
  width: 12rem;
  outline: 1px solid rgb(217, 217, 217);
  margin-right: 0.5rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

.button {
  font-size: 0.95rem;
  cursor: pointer;
  flex-shrink: 0;
  background-color: transparent;
  color: white;
}

.button_selected {
  background-color: #6FE2C8;
  color: black;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
  flex-grow: 1;
  height: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid grey;
  border-spacing: 0.5rem;
  border-radius: 20px;
  align-items: center;
}

.item_text {
  overflow-wrap: break-word;
	word-break: break-word;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

.item_icon_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.item_icon {
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--icon_size);
  height: var(--icon_size);
  margin: 0.5rem;
  border-radius: 50%;
}

.favorites_item .item_icon {
  box-shadow: 0 0 0.3rem currentColor;
  margin-right: 0.65rem;
}

.history_item .item_icon_container:hover .item_icon {
  box-shadow: 0 0 0.3rem currentColor;
}

.selected {
  border-color: white;
  background-color: #2B303B;
}

.hidden {
  display: none !important;
}

.highlighted {
  background-color: #99EDC3;
}

.action, .actionbox {
  cursor: pointer;
  transition: text-shadow 100ms, box-shadow 100ms;
}

.action:hover {
  text-shadow: 0 0 1rem currentColor;
}

.actionbox:hover {
	box-shadow: 0 0 0.3rem currentColor;
}

.float_right {
  margin-left: auto;
}

.unselectable {
  user-select: none;
}

#configure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.configure_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.configure_info {
  max-width: 14rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

.configure_input {
  width: 8rem;
  font-size: 1rem;
  text-align: center;
}

.config_default_button {
  margin-top: 0.3rem;
  text-decoration: underline;
}

#configure_favorites_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#configure_favorites {
  width: 28rem;
  height: 5rem;
  outline: none;
  border: none;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  overflow: auto;
  white-space: pre;
}

#config_defaults {
  text-decoration: underline;
  font-size: 1.1rem;
}

.removed {
  display: none;
}

#footer {
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 0.25rem;
  margin-top: 0.25rem;
  overflow: hidden;
  border-top: 1px solid rgb(29, 117, 146);
  white-space: nowrap;
}