:root {
  --color_1: black;
  --color_2: white;
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 16px;
}

#main {
  background-color: var(--color_1);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  opacity: 0;
  transition: opacity 250ms;
  color: var(--color_2);
}

.button {
  font-size: 1.4rem;
  border: 1px solid currentColor;
  cursor: pointer;
  text-align: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  user-select: none;
  flex-basis: 100%;
}

.button:hover {
  outline: 1px solid currentColor;
}

.visible {
  opacity: 1 !important;
  pointer-events: all !important;
}

#color_info {
  font-size: 1rem;
  text-align: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#image {
  width: 180px;
  padding-bottom: 0.5rem;
  cursor: pointer;
  align-self: center;
}

.corner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  color: var(--color_2);
  user-select: none;
  gap: 1rem;
  font-size: 1.2rem;
}

#top_left {
  top: 1rem;
  left: 1rem;
}

#top_right {
  top: 1rem;
  right: 1rem;
}

.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.38rem;
}

.invert {
  filter: invert(1);
}

.rotate_1 {
  filter: hue-rotate(90deg);
}

.rotate_2 {
  filter: hue-rotate(180deg);
}

.rotate_3 {
  filter: hue-rotate(270deg);
}

#frame {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

a.linkbutton:hover,
a.linkbutton:link,
a.linkbutton:visited,
a.linkbutton:active
{
  color: var(--color_2);
  cursor: pointer;
  text-decoration: underline;
  transition: text-shadow 170ms;
}

a.linkbutton:hover {
  text-shadow: 0 0 0.18rem currentColor;
}

#notes {
  color: var(--color_2);
  background-color: var(--color_1);
  border: 1px solid var(--color_2);
  text-align: center;
  font-size: 1rem;
  outline: 0;
  min-width: 100%;
  box-sizing: border-box;
}